.hover-cursor{
    cursor:pointer;
}
.card{
    margin-top: 10%;
    width:200%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height:200%;
    font-family: system-ui;

}
.card-header{
    background-color: rgb(231, 117, 106);
    color:white;
    height:6em;
    
}
h4{
    font-size: 3em;
}
ul{
    padding-top: 2em;
}